<!DOCTYPE html>
<html>
<head>
  <title>Unos/uređivanje države</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Unos/uređivanje države</h2>
  <form th:action="@{/drzave/save}" method="post">

    <input type="hidden" th:field="*{drzava.idDrzava}">

    <div class="form-group">
      <label for="nazivDrzave">Naziv države:</label>
      <input type="text" class="form-control" id="nazivDrzave" name="nazivDrzave" th:value="${drzava != null ? drzava.nazivDrzave : ''}" required>
    </div>

    <!-- Tekst na gumbu ovisno o načinu korištenja forme (unos/uređivanje) -->
    <button type="submit" class="btn btn-primary" th:text="${drzava.idDrzava != 0 ? 'Ažuriraj' : 'Spremi'}"></button>
    <!-- Gumb za odustajanje -->
    <button type="button" class="btn btn-secondary" onclick="cancelForm()">Odustani</button>
  </form>
</div>

<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/drzave}]]";
  }
</script>
</body>
</html>
