<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Error Page</title>
<!--  <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            margin: 0;-->
<!--            padding: 20px;-->
<!--            background-color: #f8f8f8;-->
<!--        }-->

<!--        h1 {-->
<!--            color: #555;-->
<!--        }-->

<!--        .error-container {-->
<!--            max-width: 500px;-->
<!--            margin: 0 auto;-->
<!--            background-color: #fff;-->
<!--            padding: 20px;-->
<!--            border: 1px solid #ccc;-->
<!--            border-radius: 4px;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div class="error-container">
  <h4>Unexpected Error</h4>
  <p>An unexpected error occurred while processing your request.</p>
  <p>Error message: <strong th:text="${errorMessage}"></strong></p>
  <p>Please try again later or contact support for assistance.</p>
</div>
</body>
</html>
