<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unos/uređivanje knjiga</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="content">
  <!--  NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Antikvarijat knjiga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span sec:authentication="name">not found</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users">Operateri</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Odjava</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container mt-4">
  <h2>Unos/uređivanje knjige</h2>

  <form th:object="${knjiga}" th:action="@{/knjige/save}" method="post">

    <input type="hidden" th:field="*{idKnjiga}">

    <div class="form-group">
      <label for="nazivKnjige">Naziv knjige:</label>
      <input type="text" class="form-control" id="nazivKnjige" th:field="*{nazivKnjige}">
    </div>

    <div class="form-group">
      <label for="idAutor">Autor:</label>
      <select class="form-control" id="idAutor" th:field="*{autor.idAutor}">
        <option th:each="autor : ${autor}" th:value="${autor.idAutor}" th:text="${autor.nazivAutora}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="idIzdavac">Izdavač:</label>
      <select class="form-control" id="idIzdavac" th:field="*{izdavac.idIzdavac}">
        <option th:each="izdavac : ${izdavac}" th:value="${izdavac.idIzdavac}" th:text="${izdavac.nazivIzdavaca}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="godinaIzdanja">Godina izdanja:</label>
      <input type="text" class="form-control" id="godinaIzdanja" th:field="*{godinaIzdanja}">
    </div>
    <div class="form-group">
      <label for="brojStranica">Broj stranica:</label>
      <input type="text" class="form-control" id="brojStranica" th:field="*{brojStranica}">
    </div>
    <div class="form-group">
      <label for="vrstaUveza">Vrsta uveza:</label>
      <input type="text" class="form-control" id="vrstaUveza" th:field="*{vrstaUveza}">
    </div>
    <div class="form-group">
      <label for="dimenzija">Dimenzije:</label>
      <input type="text" class="form-control" id="dimenzija" th:field="*{dimenzija}">
    </div>
    <div class="form-group">
      <label for="jezik">Jezik / pismo:</label>
      <input type="text" class="form-control" id="jezik" th:field="*{jezik}">
    </div>
    <div class="form-group">
      <label for="cijenaProdaje">Prodajna cijena:</label>
      <input type="text" class="form-control" id="cijenaProdaje" th:field="*{cijenaProdaje}">
    </div>

    <!-- Tekst na gumbu ovisno o načinu korištenja forme (unos/uređivanje) -->
    <button type="submit" class="btn btn-primary" th:text="${knjiga.idKnjiga != 0 ? 'Ažuriraj' : 'Spremi'}"></button>
    <!-- Gumb za odustajanje -->
    <button type="button" class="btn btn-secondary" onclick="cancelForm()">Odustani</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/knjige}]]";
  }
</script>
</body>
</html>
