<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Popis prodaja zaglavlja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
   * {
          font-size: 14px;
        }
        /* Dodani stil za sidebar */
        .sidebar {
            background-color: #343a40;
            color: #fff;
            width: 200px;
            min-height: 100vh;
            padding: 2rem;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sidebar li {
            margin-bottom: 1rem;
        }

        .sidebar a {
            color: #fff;
            text-decoration: none;
        }

        table.table {
          font-size: 14px;
        }




    </style>
</head>
<body>

<div class="content">
    <!--  NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Antikvarijat knjiga</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span sec:authentication="name">not found</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users">Korisnici</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Odjava</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <!-- SIDEBAR -->
            <div class="col-xl-2 col-md-2 col-sm-2 px-sm-2 px-0 bg-dark">
                <div class="sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/drzave">Države</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gradovi">Gradovi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/partneri">Partneri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/izdavaci">Izdavači</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/autori">Autori</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/knjige">Knjige</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/nacini_placanja">Način plaćanja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prodaja_zaglavlja">Prodaja</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="/otkup">Otkup</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="/rezervacija">Rezervacija</a>-->
<!--                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="/prodaja">POS Terminal</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- TABLICA -->
<!--            <div class="col-xl-10 col-md-12 px-sm-2 px-0">-->
<!--            <div class="px-sm-4">-->
<!--            </div>-->
            <div class="col-md-9">
                <div class="container">

                    <br>
                    <h4>Maloprodaja</h4>
                    <hr>
                    <!-- Provjera poruke o grešci -->
                    <div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>
                    <table id="zaglavlje" class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Datum</th>
                            <th>Kupac</th>
                            <th>Nacin placanja</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Iteriranje kroz popis prodaja zaglavlja -->
                        <tr th:each="prodajaZaglavlje : ${listaProdajaZaglavlja}">
                            <td th:text="${prodajaZaglavlje.idProdajaZaglavlje}"></td>
                            <td th:text="${prodajaZaglavlje.datumProdaje}"></td>
                            <td th:text="${prodajaZaglavlje.partner != null ? prodajaZaglavlje.partner.nazivPartnera : ''}"></td>
                            <td th:text="${prodajaZaglavlje.nacinPlacanja != null ? prodajaZaglavlje.nacinPlacanja.nazivNacinaPlacanja : ''}"></td>

                            <td>
                                <a th:href="@{/prodaja_zaglavlja/edit/{id}(id=${prodajaZaglavlje.idProdajaZaglavlje})}">Uredi</a>
                                <a th:href="@{/prodaja_zaglavlja/pdf/{id}(id=${prodajaZaglavlje.idProdajaZaglavlje})}">Pdf</a>
                                <a th:href="@{/prodaja_zaglavlja/delete/{id}(id=${prodajaZaglavlje.idProdajaZaglavlje})}"
                                   class="text-danger"
                                   onclick="return confirm('Jeste li sigurni da želite obrisati?') ? true : false">Obriši</a>
                            </td>
                            <td>
                                <table id="stavke" class="table table-borderless">
<!--                                <table id="stavke" class="table">-->
                                    <thead>
                                    <tr>
                                        <th>Knjiga</th>
                                        <th>Količina</th>
                                        <th>Cijena</th>
                                        <th>Iznos</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Iteriranje kroz popis prodaja stavki -->
                                    <tr th:each="prodajaStavka : ${listaProdajaStavki}"
                                        th:if="${prodajaStavka.prodajaZaglavlje.idProdajaZaglavlje == prodajaZaglavlje.idProdajaZaglavlje}">
                                        <td th:text="@{${prodajaStavka.knjiga.nazivKnjige}}"></td>
                                        <td th:text="${prodajaStavka.kolicina}"></td>
                                        <td th:text="${prodajaStavka.cijenaProdaje}"></td>
                                        <td th:text="${prodajaStavka.cijenaProdaje * prodajaStavka.kolicina}"></td>
                                        <td>
                                            <a th:href="@{/prodaja_stavke/edit/{id}(id=${prodajaStavka.idProdajaStavka})}">Uredi</a>
                                            <a th:href="@{/prodaja_stavke/delete/{id}(id=${prodajaStavka.idProdajaStavka})}"
                                               class="text-danger" style="margin-left: 10px;"
                                               onclick="return confirm('Jeste li sigurni da želite obrisati?') ? true : false">Obriši</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                        </tbody>

                    </table>
                    <a href="/" class="btn btn-secondary">Povratak</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>