<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unos/uređivanje prodaja zaglavlja</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<style>
    * {
         font-size: 14px;
     }
  </style>
<body>

<div class="content">
  <!--  NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Antikvarijat knjiga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span sec:authentication="name">not found</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users">Korisnici</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Odjava</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container mt-4">

  <br>
  <h4>Prodaja</h4>
  <hr>

  <form th:object="${prodajaZaglavlje}" th:action="@{/prodaja_zaglavlja/save}" method="post">

    <input type="hidden" th:field="*{idProdajaZaglavlje}">

    <div class="form-group">
      <label for="datumProdaje">Datum:</label>
      <input type="date" class="form-control" id="datumProdaje" th:field="*{datumProdaje}">
    </div>


    <div class="form-group">
      <label for="idPartner">Partner:</label>
      <select class="form-control" id="idPartner" th:field="*{partner.idPartner}">
        <option th:each="partner : ${partner}" th:value="${partner.idPartner}" th:text="${partner.nazivPartnera}"></option>
      </select>
    </div>


    <div class="form-group">
      <label for="idNacinPlacanja">Način plaćanja:</label>
      <select class="form-control" id="idNacinPlacanja" th:field="*{nacinPlacanja.idNacinPlacanja}">
        <option th:each="nacinPlacanja : ${nacinPlacanja}" th:value="${nacinPlacanja.idNacinPlacanja}" th:text="${nacinPlacanja.nazivNacinaPlacanja}"></option>
      </select>
    </div>

    <!-- Tekst na gumbu ovisno o načinu korištenja forme (unos/uređivanje) -->
    <button type="submit" class="btn btn-primary" th:text="${prodajaZaglavlje.idProdajaZaglavlje != 0 ? 'Ažuriraj' : 'Spremi'}"></button>
    <!-- Gumb za odustajanje -->
    <button type="button" class="btn btn-secondary" onclick="cancelForm()">Odustani</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/prodaja_zaglavlja}]]";
  }
</script>
</body>

</body>
</html>