<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Popis prodaja stavki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
   * {
          font-size: 14px;
        }

  tfoot td {
        font-weight: bold;
    }

    .sidebar {
      background-color: #343a40;
      color: #fff;
      width: 200px;
      min-height: 100vh;
      padding: 2rem;
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .sidebar li {
      margin-bottom: 1rem;
    }

    .sidebar a {
      color: #fff;
      text-decoration: none;
    }

    </style>


</head>
<body>

<div class="content">
    <!--  NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Antikvarijat knjiga</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span sec:authentication="name">not found</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users">Korisnici</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Odjava</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">

            <!-- SIDEBAR -->
            <div class="col-xl-2 col-md-2 col-sm-2 px-sm-2 px-0 bg-dark">
                <div class="sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/drzave">Države</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gradovi">Gradovi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/partneri">Partneri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/izdavaci">Izdavači</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/autori">Autori</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/knjige">Knjige</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/nacini_placanja">Način plaćanja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prodaja_zaglavlja">Prodaja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/otkup">Otkup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rezervacija">Rezervacija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prodaja">POS Terminal</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- TABLICA -->
            <div class="col-sm-1">
            </div>
            <div class="col-md-8">

                <form class="container">
                    <form>
                        <div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>
                    </form>
                    <br>
                    <h4>Stavke računa</h4>

                    <!-- Tablica prodaja stavki -->
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <!--              <th>RN</th>-->
                            <th>Knjiga</th>
                            <th>Količina</th>
                            <th>Cijena</th>
                            <th>Iznos</th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="prodajaStavka : ${listaProdajaStavki}" class="prodaja-stavka">
                        <td th:text="${prodajaStavka.idProdajaStavka}"></td>
                            <td th:text="@{${prodajaStavka.knjiga.nazivKnjige}}"></td>
                            <td th:text="${prodajaStavka.kolicina}"></td>
                            <td th:text="${prodajaStavka.cijenaProdaje}"></td>
                            <td th:text="${prodajaStavka.cijenaProdaje * prodajaStavka.kolicina}"></td>

                            <td>
                                <a th:href="@{/prodaja_stavke/edit_stavka/{id}(id=${prodajaStavka.idProdajaStavka})}">Uredi</a>
                                <a th:href="@{/prodaja_stavke/delete_stavka/{id}(id=${prodajaStavka.idProdajaStavka})}"
                                   class="text-danger" style="margin-left: 10px;"
                                   onclick="return confirm('Jeste li sigurni da želite obrisati?') ? true : false">Obriši</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">Ukupno:</td>
                            <td>
                                <span th:text="${zbrojIznosa}"></span>
                            </td>
                            <td></td>
                        </tr>
                        </tfoot>

                    </table>
                    <hr>

                    <form th:object="${prodajaStavka}" th:action="@{/prodaja_stavke/dodaj}" method="post"
                          id="stavkaForm"
                          onsubmit="return validateForm()">

                        <input type="hidden" th:field="*{idProdajaStavka}">

                        <!--                        <div class="form-row">-->
                        <div class="form-group row">
                            <div class="form-group col-md-6">
                                <label for="idKnjiga">Knjiga:</label>
                                <select class="form-control" id="idKnjiga" th:field="*{knjiga.idKnjiga}">
                                    <option th:each="knjiga : ${knjiga}" th:value="${knjiga.idKnjiga}"
                                            th:text="${knjiga.nazivKnjige}"></option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="kolicina">Količina:</label>
                                <input type="text" class="form-control" id="kolicina" th:field="*{kolicina}">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="cijenaProdaje">Cijena:</label>
                                <input type="text" class="form-control" id="cijenaProdaje"
                                       th:field="*{cijenaProdaje}">
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Dodaj stavku</button>
                        </div>
                    </form>

                    <br>
                    <h4>Maloprodajni račun</h4>
                    <hr>
                    <form th:object="${prodajaZaglavlje}" th:action="@{/prodaja_stavke/save_racun}" method="post">
                        <input type="hidden" th:field="*{idProdajaZaglavlje}">

                        <div class="form-group row">
                            <div class="form-group col-md-2">
                                <label for="datumProdaje">Datum:</label>
                                <input type="date" class="form-control" id="datumProdaje" th:field="*{datumProdaje}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="idPartner">Partner:</label>
                                <select class="form-control" id="idPartner" th:field="*{partner.idPartner}">
                                    <option th:each="partner : ${partner}" th:value="${partner.idPartner}"
                                            th:text="${partner.nazivPartnera}"></option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="idNacinPlacanja">Način plaćanja:</label>
                                <select class="form-control" id="idNacinPlacanja"
                                        th:field="*{nacinPlacanja.idNacinPlacanja}">
                                    <option th:each="nacinPlacanja : ${nacinPlacanja}"
                                            th:value="${nacinPlacanja.idNacinPlacanja}"
                                            th:text="${nacinPlacanja.nazivNacinaPlacanja}"></option>
                                </select>
                            </div>
                        </div>
                        <form>

<!--                            <button type="submit" class="btn btn-primary">Spremi račun</button>-->
                            <button type="submit" class="btn btn-primary" onclick="return validateSaveRacun()">Spremi račun</button>
                            <button type="button" class="btn btn-secondary" onclick="cancelForm()">Odustani</button>


                        </form>

                    </form>




                </form>
            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script type="text/javascript">
  function cancelForm() {
  window.location = "[[@{/}]]";
  }
</script>

<script>
  function validateForm() {
    var idKnjiga = document.getElementById("idKnjiga").value;
    var kolicina = document.getElementById("kolicina").value;
    var cijenaProdaje = document.getElementById("cijenaProdaje").value;

    if (idKnjiga === "0") {
      alert("Morate odabrati knjigu.");
      return false; // Spriječi slanje forme
    }
    if (kolicina === "" || kolicina === "0") {
      alert("Unesite ispravnu količinu.");
      return false; // Spriječi slanje forme
    }

    if (cijenaProdaje === "") {
      alert("Unesite cijenu prodaje.");
      return false; // Spriječi slanje forme
    }

    return true; // Dopusti slanje forme
  }

  function validateSaveRacun() {
    var stavke = document.getElementsByClassName("prodaja-stavka");
    if (stavke.length === 0) {
      alert("Morate upisati barem jednu stavku.");
      return false; // Spriječi slanje forme
    }

    return true; // Dopusti slanje forme
  }
</script>


</body>
</html>
